<div class="row">
    <div class="col-lg-5">
        <img class="uk-border-circle uk-position-left" data-src="{{ artist.artistPhoto }}" width="400px" height="400px" alt="" uk-img>
    </div>
    <div class="col-lg-7">
        <article class="uk-article">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="uk-article-title uk-text-uppercase">
                        {{ artist.nickName }}
                    </h1>
                </div>
                <button (click)="followArtist()" class="uk-button uk-button-secondary"> {{ followAction }} </button>
            </div>
            <dl class="uk-description-list uk-description-list-divider">
                <dt>{{ artist.firstName + ' ' + artist.lastName }} </dt>
                <dt><span class="uk-text-bold">Birth date</span></dt>
                <dd>{{ birthDate }} {{ deathDate }}</dd>
                <dt><span class="uk-text-bold">Birth place</span></dt>
                <dd>{{ artist.birthPlace }}</dd>
                <dt><span class="uk-text-bold">Career</span></dt>
                <dd>{{ careerBeginDate }} {{ careerEndDate }}</dd>
                <dt><span class="uk-text-bold">Biography</span></dt>
                <dd>{{ artist.biography }}</dd>
            </dl>
        </article>
    </div>
</div>
<br> 
<br> 
<hr class="uk-divider-icon">
<div class="row">
    <div class="col-lg-6"></div> 
    <div class="col-lg-6">
        <div class="d-flex justify-content-center">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
                <ul class="uk-slider-items uk-grid">
                    <li 
                        class="uk-width-3-4"
                        *ngFor="let album of albums"
                        class="uk-text-center"
                        routerLink='/album/{{ album.id }}' routerLinkActive="router-link-active" 
                    >
                        <div class="uk-panel">
                            <img src="{{ album.albumCover }}" width="250px" height="250px" alt="">

                            <div class="uk-position-center uk-panel"><h4> {{ album.name }} </h4></div>
                        </div>
                    </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
        </div>
    </div>
</div> 
