<mat-progress-bar 
    *ngIf="loading"
    mode="indeterminate"
>
</mat-progress-bar>
<div class="col-lg-2">
    <div class="row">
        <aside id="left-col" class="uk-light">
            <div class="bar-wrap"> 
                <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                    <li class="uk-nav-header">Dasboard</li>
                        <li><a href="" [routerLink]="['/artists']"><span class="uk-margin-small-right" uk-icon="icon: users"></span> Artists</a></li>
                        <li><a href="" [routerLink]="['/albums']"><span class="uk-margin-small-right" uk-icon="icon: grid"></span> Albums</a></li>
                    <br> <li class="uk-nav-divider"></li> <br>
                    
                    <li class="uk-nav-header">Library</li>
                        <li><a href="" [routerLink]="['/collections']"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Favored Albums</a></li>
                        <li><a href="" [routerLink]="['/follows']"><span class="uk-margin-small-right" uk-icon="icon: heart"></span> Follows</a></li>
                    <br> <li class="uk-nav-divider"></li> <br>

                    <li class="uk-nav-header">Account</li>
                        <li><a href="" [routerLink]="['/authorization']"><span class="uk-margin-small-right" uk-icon="icon: sign-in"></span> Sign In</a></li>
                        <li><a href="" [routerLink]="['/registration']"><span class="uk-margin-small-right" uk-icon="icon: arrow-right"></span> Sign Up</a></li>
                    <br> <li class="uk-nav-divider"></li> <br>

                    <li class="uk-parent">
                        <a href="#"><span class="uk-margin-small-right" uk-icon="icon: user"></span> {{ userName }} </a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul> 
            </div>
        </aside>
    </div>
</div>
<div class="col-lg-10">
    <div class="row">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="" [routerLink]="['/artists']">Artists</a></li>
                    <li class="uk-active"><a href="" [routerLink]="['/albums']">Albums</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
