<mat-progress-bar 
    *ngIf="loading"
    mode="indeterminate"
>
</mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12"> 
            <div class="sidebar">
                <ul class="sidebar-nav">
                    <li>
                        <a id="navbar-toggle">Close <i class="fa fa-bars menu-icon fa-2x" ></i></a>
                    </li>
                    <li>
                        <a href="#">Home <i class="fa fa-home menu-icon fa-2x" ></i></a>
                    </li>
                    <li>
                        <a href="#">Download<i class="fa fa-download menu-icon fa-2x" ></i></a>
                    </li>
                    <li>
                        <a href="#">Edit<i class="fa fa-cog menu-icon fa-2x" ></i></a>
                    </li>
                    <li>
                        <a href="#">log out<i class="fa fa-sign-out menu-icon fa-2x" ></i>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br> 
    <div class="row" >
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="uk-subnav uk-subnav-divider" uk-margin>
                        <li class="uk-active"><a href="" [routerLink]="['/artists']">Artists</a></li>
                        <li class="uk-active"><a href="" [routerLink]="['/albums']">Albums</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-7">
                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>