<div class="row">
    <h1 class="uk-article-title uk-text-uppercase">
        {{ album.name }}
    </h1>
    <div class="col-lg-5">
        <img data-src="{{ album.albumCover}}" width="380px" height="380px" alt="" uk-img>
        <h4 class="my-2  uk-text-uppercase">Tracklist:</h4>
        <app-track
            *ngFor="let item of album.tracks" 
            [track]=item
        >
        </app-track>
    </div>
    <div class="col-lg-7">
        <article class="uk-article">
            <dl class="uk-description-list uk-description-list-divider">
                <dt><span class="uk-text-bold">Artist</span></dt>
                <dd> <a routerLink='/artist/{{ album.artist.id }}' routerLinkActive="router-link-active" >{{ album.artist.nickName }} </a></dd>
                <dt><span class="uk-text-bold">Release</span></dt>
                <dd>{{ releaseDate }}</dd>
                <dt><span class="uk-text-bold">Genre</span></dt>
                <dd>{{ album.genre }}</dd>
                <dt><span class="uk-text-bold">Description</span></dt>
                <dd>{{ album.description }}</dd>
            </dl>
        </article>
        <hr class="uk-divider-icon">
        <iframe
            *ngIf="youtubeLink != null"
            [src]="youtubeLink" width="620" height="340" frameborder="0" 
            allowfullscreen  uk-responsive  uk-video="automute: false">
        </iframe>
    </div>
</div>