<div class="uk-child-width-1-2 uk-child-width-1-4@s uk-grid-match uk-grid-large" uk-grid>
    <div
    *ngFor="let album of albumsList"
    routerLink='/album/{{ album.id }}' routerLinkActive="router-link-active" 
        class="uk-text-center"
    >
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img data-src="{{ album.albumCover}}" width="250px" height="250px" alt="" uk-img>
            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                <p class="uk-h4 uk-margin-remove">{{ album.name }}</p>
            </div>
        </div>
    </div>
</div>